// .ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
//     fill: #34b77d;
// }
// // .newChart{
// //   height: 300px;
// //   width: 500px;
// // }
//
//
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #BF6969;
  /* Control the thikness of your lines */
  stroke-width: 5px;
  /* Create a dashed line with a pattern */

}
.charts{
  margin-top: 40px;
}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
    fill: #f2f2f2;
}
.ct-label{
  fill: #555;
  font-size: 15px;
}
.pie{
  .ct-label{
    fill: #bbb;
    font-size: 20px;
  }
}
.chart-title{
  text-align: center;
}

// .ct-series-a .ct-slice-pie {
//   /* fill of the pie slieces */
//   // fill: hsl(120, 40%, 60%);
//   /* give your pie slices some outline or separate them visually by using the background color here */
//   stroke: white;
//   /* outline width */
//   stroke-width: 4px;
// }
.line{
  height: 40%;
}
// // svg{
// //   width: 80%;
// // }
