.comment-div{
  color: #777;
  height: 400px;
  overflow: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
}
.text-area{
  background-color: white;
  border: none;
  outline: none;
  height: 60px;
  width: 100%;
  resize: none;
  border-bottom: 2px solid #777;
}
.submit{
  background-color: #BF6969;
  height: 35px;
  border-radius: 5px;
  padding: 0px;
  h4{
    line-height: 36px;
    color: white;
  }
}
.comment{
  color: #444;
  background-color: #ececec;
  border-radius: 20px;
  width: 85%;
  left: 12%;
  h4, p{
    text-align: left;
    margin-top: 10px;
  }
  h4 {
    font-size: 16px;
  }
  .body{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  margin-top: 10px;

}
