.slick-next:before {
  color: black;
  font-family: 'Noto Sans', sans-serif;
  content: '>';
  font-size: 30px;
  margin-left: 20px;
  color: #777;
}

.slick-prev:before {
  color: black;
  font-family: 'Noto Sans', sans-serif;
  content: '<';
  font-size: 30px;
  color: #777;

}

.login-arrow:before {
  content: '<Login';
  font-size: 20px;
  margin: 40px;
  color: white;
}
.register-arrow:before {
  content: 'Register>';
  font-size: 20px;
  margin: -60px;
    color: white;
}
.slick-next{
  right: 30px;
}


// .homepage {
//   background-image: $image-bg;
// }

// NAVBAR
.slick-frame {
    visibility: hidden;
    align-items: center;
}
.slick-frame.slick-initialized {
    visibility: visible;
}
