


<div class="row">
  <div class="col-sm-8  data-group">
    <div class="row">
      <div ng-click="vm.setSelected()" ng-disabled="vm.selected" class="col-sm-6 show-info-header" ng-class="{'selected': !vm.selected}">
        <h4>Rankings</h4>
      </div>
      <div ng-click="vm.setSelected()" ng-disabled="!vm.selected" class="col-sm-6 show-info-header" ng-class="{'selected': vm.selected}">
        <h4>Matches</h4>
      </div>
    </div>
    <div ng-show="!vm.selected" ng-repeat="member in vm.league.users | orderBy: '-current_ranking' track by $index " class="">
      <div class="row member-rank-list">
        <div class="col-sm-2 test">
          <h3 class="rank-no" ui-sref="playerShow({id: member.id})">{{$index+1}}</h3>
        </div>
        <div class="col-sm-2 test">
          <div class="league-img-icon-outer col-sm-2" ng-if="member.image">
            <img class=" league-img-icon"  src="{{member.image}}" alt="">
          </div>
          <i class="fa fa-user-circle default-img-league col-sm-2" aria-hidden="true" ng-show="!member.image"></i>

        </div>
        <div class="col-sm-4 test" ui-sref="playerShow({id: member.id})">
          <h3 class="memberName" >{{member.username}}</h3>
        </div>
        <div class="col-sm-3 test">
          <h3  class="memberName" >{{member.current_ranking}}</h3>
        </div>
        <div class="col-sm-1">
          <div class="btn test" ng-click="vm.challenge(member.id)" ng-if="!vm.unplayedMatchesInLeague.includes(member.id) && !vm.sentChallengesInLeague.includes(member.id) && !vm.recievedChallengesInLeague.includes(member.id) && member.id !== vm.user.id && !vm.clicked">
            <i class="fa fa-trophy  icon-show" aria-hidden="true"></i>
          </div>
        </div>

      </div>
    </div>
    <div ng-show="vm.selected" ng-repeat="match in vm.league.matches | orderBy: '-updated_at'">
      <!-- <div class="">
      HELLO
    </div> -->
    <div class="" ng-show="match.played">
      <div class="row matches-row">
        <div class="col-sm-2 matches">
          <div class="" ng-if="match.users[0].id === match.winner_id">
            <div class="league-img-icon-outer matches-img-icon" ng-if="match.users[0].image">
              <img class=" league-img-icon"  src="{{match.users[0].image}}" alt="">
            </div>
            <i class="fa fa-user-circle default-img-league col-sm-2 matches-icon" aria-hidden="true" ng-show="!match.users[0].image"></i>
          </div>
          <div class="" ng-if="match.users[0].id !== match.winner_id">
            <div class="league-img-icon-outer matches-img-icon" ng-if="match.users[1].image">
              <img class=" league-img-icon"  src="{{match.users[1].image}}" alt="">
            </div>
            <i class="fa fa-user-circle default-img-league col-sm-2 matches-icon" aria-hidden="true" ng-show="!match.users[1].image"></i>
          </div>

        </div>
        <div class="col-sm-3 matches">


          <div class="" ng-if="match.users[0].id === match.winner_id">
            <div class="" ng-if="match.player_one_score > match.player_two_score">
              <h4>{{match.users[0].username}}</h4>
              <h5><span class="old-rank">{{match.player_one_rank_change[2]}}</span> ({{match.player_one_rank_change[1]}}%) {{match.player_one_rank_change[0]}}</h5>
            </div>
            <div class="" ng-if="match.player_one_score < match.player_two_score">
              <h4>{{match.users[0].username}}</h4>
              <h5><span class="old-rank">{{match.player_two_rank_change[2]}}</span> ({{match.player_two_rank_change[1]}}%) {{match.player_two_rank_change[0]}}</h5>
            </div>
          </div>
          <div class="" ng-if="match.users[1].id === match.winner_id">
            <div class="" ng-if="match.player_one_score > match.player_two_score">
              <h4>{{match.users[1].username}}</h4>
              <h5><span class="old-rank">{{match.player_one_rank_change[2]}}</span> ({{match.player_one_rank_change[1]}}%) {{match.player_one_rank_change[0]}}</h5>
            </div>
            <div class="" ng-if="match.player_one_score < match.player_two_score">
              <h4>{{match.users[1].username}}</h4>
              <h5><span class="old-rank">{{match.player_two_rank_change[2]}}</span> ({{match.player_two_rank_change[1]}}%) {{match.player_two_rank_change[0]}}</h5>
            </div>

          </div>


          <!-- <h5><span class="old-rank">{{match.player_one_rank_change[2]}}</span> ({{match.player_one_rank_change[1]}}%) {{match.player_one_rank_change[0]}}</h5> -->
        </div>
        <div class="col-sm-2 matches">
          <h2 ng-if="match.player_two_score > match.player_one_score">{{match.player_two_score}} - {{match.player_one_score}}</h2>
          <h2 ng-if="match.player_two_score < match.player_one_score">{{match.player_one_score}} - {{match.player_two_score}}</h2>
          <h2></h2>
          <p>{{match.score.join(', ')}}</p>
        </div>
        <div class="col-sm-3 matches">
          <!-- <h4>{{match.users[1].username}}</h4>
          <h5>{{match.player_two_rank_change[0]}} ({{match.player_two_rank_change[1]}}%) <span class="old-rank">{{match.player_two_rank_change[2]}}</span></h5> -->
          <div class="" ng-if="match.users[0].id !== match.winner_id">

            <div class="" ng-if="match.player_one_score < match.player_two_score">

              <h4>{{match.users[0].username}}</h4>

              <h5>{{match.player_one_rank_change[0]}} ({{match.player_one_rank_change[1]}}%) <span class="old-rank">{{match.player_one_rank_change[2]}}</span></h5>
            </div>
            <div class="" ng-if="match.player_one_score > match.player_two_score">
              <h4>{{match.users[0].username}}</h4>
              <h5> {{match.player_two_rank_change[0]}} ({{match.player_two_rank_change[1]}}%)<span class="old-rank"> {{match.player_two_rank_change[2]}}</span></h5>
            </div>
          </div>

          <div class="" ng-if="match.users[1].id !== match.winner_id">
            <div class="" ng-if="match.player_one_score < match.player_two_score">
              <h4>{{match.users[1].username}}</h4>
              <h5> {{match.player_one_rank_change[0]}} ({{match.player_one_rank_change[1]}}%) <span class="old-rank">{{match.player_one_rank_change[2]}}</span></h5>
            </div>
            <div class="" ng-if="match.player_one_score > match.player_two_score">
              <h4>{{match.users[1].username}}</h4>
              <h5>{{match.player_two_rank_change[0]}} ({{match.player_two_rank_change[1]}}%) <span class="old-rank">{{match.player_two_rank_change[2]}}</span></h5>
            </div>
          </div>
        </div>
        <div class="col-sm-2 matches">
          <div class="" ng-if="match.users[1].id === match.winner_id">
            <div class="league-img-icon-outer matches-img-icon" ng-if="match.users[0].image">
              <img class=" league-img-icon"  src="{{match.users[0].image}}" alt="">
            </div>
            <i class="fa fa-user-circle default-img-league col-sm-2 matches-icon" aria-hidden="true" ng-show="!match.users[0].image"></i>
          </div>
          <div class="" ng-if="match.users[1].id !== match.winner_id">
            <div class="league-img-icon-outer matches-img-icon" ng-if="match.users[1].image">
              <img class=" league-img-icon"  src="{{match.users[1].image}}" alt="">
            </div>
            <i class="fa fa-user-circle default-img-league col-sm-2 matches-icon" aria-hidden="true" ng-show="!match.users[1].image"></i>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-4 aside">
  <h2 class="memberName leagueTitle">{{vm.league.title}}</h2>
  <div class="indexDiv leagueImg showImg">
    <img class="indexImg" src="{{vm.league.image}}" alt="">
  </div>
<div class="comment-div">
  <h3>Comments</h3>
  <div class="comments" ng-repeat="comment in vm.league.comments | orderBy: '-created_at'">
    <div class="comment row">
      <div class="col-sm-12  body">
        <h4>{{comment.sender.username}}</h4>
        <p>{{comment.body}}</p>
      </div>
    </div>
  </div>
    </div>
  <textarea class="text-area" ng-model="vm.comment.body" placeholder="Add new comment"></textarea>
  <div class="submit" name=""  ng-click="vm.submitComment()">
    <h4>Post</h4>
  </div>

</div>
