<h2>{{vm.player.username}}</h2>
<div class="chart-container" style="position: relative; height:20vh; width:60vw">
  <!-- <canvas id="myChart"></canvas> -->
</div>




<slick slides-to-show="1" slides-to-scroll="1" init-onload="true" data="vm.data" dots="false" arrows="true" rows="1" autoplay="false" >
  <!-- <div ng-repeat="story in stories.stories track by $index" > -->
    <div class="slide-wrapper">
      <div class="newChart">
        <div class="ct-chart ct-perfect-fourth level"> HEY</div>
      </div>
    </div>
    <div class="slide-wrapper">
      <div class="newChart">
        <div class="ct-chart ct-perfect-fourth pie"> HI</div>
      </div>
    </div>
  <!-- </div> -->
</slick>
