

<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <div class="indexDiv leagueImg profilePhoto">
      <img class="indexImg" src="{{vm.player.image}}" alt="" ng-show="vm.player.image">
      <i class="fa fa-user-circle indexImg" aria-hidden="true" ng-show="!vm.player.image"></i>
    </div>
    <div class="changePhoto row">
      <div ng-if="vm.player.id === main.user.id" ng-click="vm.enableChange()" ng-show="!vm.change" class="col-sm-4">
        <p>Change profile photo</p>
      </div>
      <div ng-show="vm.change" class="changePhoto">
        <input type="text" class="col-sm-4" ng-model="vm.player.image" name="" value="" placeholder="Image link here">
        <div class="btn leave-btn col-sm-3" ng-click="vm.changePhoto(vm.player.id)">
          Submit
        </div>
        <div class="btn leave-btn cancel col-sm-3" ng-click="vm.cancel()">
          Cancel
        </div>
      </div>
    </div>


  </div>
  <div class="col-sm-3 player-info">
    <h2>{{vm.player.username}}</h2>
    <h4 ng-if="vm.player.leagues.length !== 0">Member of {{vm.player.leagues.length}} <span ng-if="vm.player.leagues.length > 1">leagues</span><span ng-if="vm.player.leagues.length === 1">league</span></h4>
    <h4 ng-if="vm.player.leagues.length === 0">Hasn't joined any leagues yet</h4>
    <h4>Current ranking of {{vm.player.current_ranking}}</h4>
    <h4>Average ranking of {{vm.player.ave_ranking}}</h4>
    <h4>{{vm.player.ranking.length -1}} matches played</h4>
  </div>
</div>


<div class="row">

  <div class="col-sm-8 col-sm-offset-2 charts" ng-show="vm.player.matches.length >= 3">
    <h4 class="chart-title">Stats</h4>
    <slick slides-to-show="1"  slides-to-scroll="1" init-onload="true" data="vm.data" dots="false" arrows="true" rows="1" autoplay="false">

      <div class="slide-wrapper">
        <div class="newChart">
          <div class="ct-chart ct-perfect-fourth level"></div>
        </div>
      </div>

      <div class="slide-wrapper">
        <div class="newChart">
          <div class="ct-chart ct-perfect-fourth pie"></div>
        </div>
      </div>

      <div class="slide-wrapper">
        <div class="newChart">
          <div class="ct-chart ct-perfect-fourth bar"></div>
        </div>
      </div>
    </slick>
  </div>
  <div class="matchesError" ng-show="vm.player.matches.length < 3">
    <h4>You need to play at least 3 matches to view stats.</h4>
  </div>

</div>
