<!DOCTYPE html>
<html ng-app="LeagueApp">
<head>
  <meta charset="utf-8">
  <title>Project 4 Client</title>
  <link rel="stylesheet"
          href="bower_components/chartist/dist/chartist.min.css">
            <link rel="stylesheet" href="animate.min.css">
  <script src="https://use.fontawesome.com/60332babcf.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js" charset="utf-8"></script>
  <base href="/" />
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav class="navbar navbar-default" ng-hide="main.home">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="homepage"><img src="http://i.imgur.com/UDlSGVQ.png" class="nav-logo-img" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            <li ng-if="main.user" class="navIcon">
              <!-- {{vm.leagues[1]}} -->
              <a ng-click="main.startSearch()" ng-if="main.showSearch">
                <i class="fa fa-search home-icon search-icon" ng-class="{'searching': main.count%2 === 1}" aria-hidden="true"></i>
              </a>
            </li>
            <li ng-show="main.user" class="navIcon" ng-if="!main.showSearch">
              <a ui-sref="leaguesIndex"><i class="fa fa-home home-icon" aria-hidden="true"></i></a>
            </li>

            <li ng-show="main.user" class="navIcon">
              <a ui-sref="leaguesNew"><i class="fa fa-plus new-icon" aria-hidden="true"></i></a>
            </li>
            <li ng-show="main.user" class="navIcon">
              <a ui-sref="challengesIndex"><i ng-class="{'challenges': main.challngesCount > 0}" class="fa fa-trophy challenge-icon" aria-hidden="true"></i></a>
            </li>
            <li ng-show="main.user" class="navIcon">
              <div class="dropdown show" >
                <div class="notification" ng-show="main.user.recieved_requests.length + main.user.recieved_challenges.length > 0">
                  <p>{{main.user.recieved_requests.length + main.user.recieved_challenges.length}}</p>
                </div>
                <div class="btn btn-secondary dropdown-toggle navbar-text" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bell notification-icon" aria-hidden="true"></i>
                </div >
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                  <h4 ng-show="main.user.recieved_requests.length >0">Your requests</h4>
                  <div ng-repeat="request in main.user.recieved_requests" >
                    <div class="dropdown-item">
                      <h5>{{request.sender.username}} wants to join {{request.league.title}}</h5>
                    </div>
                    <br>
                    <div class="buttons">

                    <div class="btn dropdown-item" ng-click="main.addToLeague(request.sender.id, request.league.id, this, request.id)">
                      Accept
                    </div>
                    <div class="btn dropdown-item" ng-click="main.deleteRequest(this, request.id)">
                      Delete
                    </div>
                    </div>
                  </div>
                  <h4 ng-show="main.user.recieved_challenges.length >0">Your challenges</h4>
                  <div ng-repeat="challenge in main.user.recieved_challenges" >
                    <div class="dropdown-item" href="#">
                      <h5>{{challenge.sender.username}} wants to challenge you</h5>
                    </div>
                    <br>
                    <div class="buttons">
                    <div class="btn dropdown-item" ng-click="main.addToMatches(challenge.sender.id, challenge.league.id, this, challenge.id)">
                      Accept
                    </div>
                    <div class="btn dropdown-item" ng-click="main.deleteChallenge(this, challenge.id)">
                      Delete
                    </div>
                  </div>
                  </div>
                  <div class="dropdown-item" ng-show="main.user.recieved_challenges.length === 0 && main.user.recieved_requests.length === 0">
                    <h5>You don't have any new notifications</h5>
                  </div>
                </div>
              </div>
            </li>
            <li ng-show="main.user" class="navIcon">
              <div class="dropdown show">
                <div class="btn btn-secondary dropdown-toggle navbar-text" href="https://example.com" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="nav-img-outer" ng-show="main.user.image">
                    <img src="{{main.user.image}}"  class="nav-img" alt="">
                  </div>
                  <i class="fa fa-user-circle default-img" aria-hidden="true" ng-show="!main.user.image"></i>
                </div>
                <div class="dropdown-menu user-drop-down" aria-labelledby="dropdownMenuLink" >
                  <div class="dropdown-item view-profile">
                    <h5 ui-sref="playerShow({id: main.user.id})">View Profile</h5>
                  </div>
                  <div ng-click="main.logout()" class="dropdown-item">
                    <h5>Logout</h5>
                  </div>
                </div>
              </div>
              <!-- <a ng-click="main.logout()">Logout</a> -->
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <div class="container">
    <main class="" ui-view></main>
  </div>
<script src="bower_components/chartist/dist/chartist.min.js"></script>
</body>
</html>
