@import "components/typography";
@import "components/slick";
@import "components/charts";
@import "components/homepage";
@import "components/comments";

.notification{
  background-color: #34b77d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 1.5px;
  font-size: 13px;
  color: white;
  position: absolute;
  margin-left: 30px;
  margin-top: -10px;
}
.navIcon{
  transition: all 0.3s;
  height: 48px;
  cursor: pointer;
}
.navIcon:hover{

  background-color: #b06161;

}
.aside{
  text-align: -webkit-center;
}
.filterResults{

  text-align: center;
  color: #777;
  transition: visibility 0.3s linear;
  .fading{
    visibility: hidden;
  }
  h4{
    position: absolute;
    bottom: 21px;
    font-size: 15px;
    padding: 15px;
    width: 70%;
    margin-left: 9%;
    transition: all 0.3s;
    border-radius: 8px;
    color: white;
  }
  .requestSent{
    background-color: #34b77d;
    visibility: visible;
  }
}

nav{
  background-color: #BF6969!important;
  height:50px;
  border-radius: 0px!important;
  .dropdown-toggle{
    padding: 15px;
    margin: 0px;
  }
  .dropdown-menu{
    max-height: 300px;
    overflow: auto;
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    position: absolute;
    text-align: center;
    // color: white;
    h4 {
      color: #BF6969;
    }
    h5 {
      color: #555;
    }
    .btn-accept{
      transition: all 0.3s;
      display: inline-block;
      color: #34b77d;
      width: 40px;
      padding: 1px;
      height: 40px;
      border-radius: 50%;
      margin: 5px 15px;
    }
    .btn-delete{
      margin: 5px 15px;
      transition: all 0.3s;
      display: inline-block;
      width: 40px;
      padding: 1px;
      height: 40px;
      color: #BF6969;
      border-radius: 50%;
    }
    .btn-delete:hover{
      background-color: #BF6969;
      color: white;
    }
    .btn-accept:hover{
      background-color: #34b77d;
      color: white;
    }
    .buttons{

      font-size: 25px;
      // height: 30px;
      margin-top: -20px;
      border-bottom: 1px solid #ccc;
      // margin: -10px 40px;
      margin-bottom: 25px;
    }
  }
}
.no-league{
  margin-top: 20%;
  width: 100%;
  text-align: center;
  position: relative;
  h2{
    // margin-left: 20%;
    font-size: 35px;
    line-height: 50px;
    position: relative;
    text-align: center;
    color: grey;
    width: 500px;
    left: 50%;
    transform: translate(-50%);
  }
  span{
    border-bottom: 2px solid grey;
    cursor: pointer;
  }
}
.indexDiv{
  height: 250px;
  width: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;

  .indexImg{
    // background-color: blue;

    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    height: 250px;
  }
}
.searchResults{
  height: 500px;
  text-align: center;
  .indexDiv{
    height: 230px;
    width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    .title{
      text-align: center;
      margin-top: 45%;
      z-index: 1;
      background: none
    }
    .indexImg{
      position: relative;
      left: 50%;
      transform: translate(-50%);
      height: 230px;
    }
  }

  .btn{
    position: absolute;
    margin-top: 440px;
    width: 80%;
    background-color: #BF6969;
    margin-left: -40%;
    color: white
  }
  i{
    position: absolute;
    z-index: 1;
    margin-left: 70px;
    color: #888;
    transition: all 0.3s;

  }
  i:hover{
    cursor:pointer
  }
  .send{

    color: #ccc!important;

  }
  .delete{
    transform: rotate(45deg);
    color: #BF6969!important;
  }

}
.notification-icon, .home-icon, .new-icon, .challenge-icon, .default-img{
  color: white;
  font-size: 25px;
  line-height: 30px;
  margin: 0 20px;
  margin-top: -5px;
}
.nav-logo-img{
  margin-top: -5px;
  height: 30px;
}
.searchDiv{
  width: 100%;
  text-align: center;
}
.searchBar{
  background-color: white;
  border: none;
  border-bottom: 2px solid #777;
  width: 400px;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 100px;
}
.searchBar:focus{
  outline: none;
}
.playerLink{
  cursor: pointer;
}

i{
  margin-top: -10px;

}
.index-row{
  cursor:pointer;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  background-color: #f6f6f6;
  padding: 20px;
  height: 100%;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
  color: #777;
  h2{
    margin-bottom: 30px;
    font-size: 40px;
  }
}
.nav-img-outer{
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;

  margin-top: -12px;
  border-radius: 50%;
}

.nav-img{
  position: relative;
  left: 50%;
  height: 100%;
  transform: translate(-50%);
}
.league-img-icon-outer{
  margin: 0;
padding: 0;
height: 65px;
width: 65px;
overflow: hidden;
position: relative;
text-align: center;
// margin-left: 26px;
margin-top: 23px;
border-radius: 50%;

}
.league-img-icon{
  position: relative;
  left: 50%;
  height: 65px;
  width: auto;
  transform: translate(-50%);
}
.default-img-league{
  color: grey;
  font-size: 62px;
  margin-left: -10px;
  margin-top: 22px;
}
.rank-no, .memberName{

  font-size: 40px;
  color: #777;
  // margin-left: 30px;
  margin-top: 27px;
}
.memberName{
  font-size: 23px;
  margin-top: 38px;
}
.member-rank-list, .matches-row{
  height: 120px;
  border-bottom: 2px solid #777;
  margin-top: 10px;
}
.test{

  height: 100%;
  text-align: center;
}
.leagueTitle{
  text-align: center;
  font-size: 25px;
}
.leagueImg{
  margin-right: 0px;
  margin-left: 29px;
  margin-top: 40px;
}
.search-icon{
  transition: all 0.3s;
}
.searching{

  color: #34b77d;
}

a{
  text-decoration: none;
  border: none;
}
a:hover{
  outline: none;
}
.icon-show{
  color: #FFC107;
  font-size: 40px;
  margin-top: 25px;
  margin-left: -10px;

}
.challenge{
  cursor: pointer;
}
.unplayed, .challenge, .sent, .recieved{
  p{
    transition: color 0.3s;
    color: white;
    // display: none;
    position: absolute;
    margin-left: -94%;
    text-align: center;
    width: 100px;
    left: 50%;
    right: 50%;
  }
}
.unplayed:hover, .challenge:hover, .sent:hover, .recieved:hover{
  p{
    color: #888;
    // display: block;
    // visibility: visible;
  }
}
.icon-show-sent{
  margin-left: 50px;
  color: #777;
  font-size: 40px;
  margin-top: 30px;
  margin-left: -10px;
}
.icon-show-recieved{
  color: #ae4118;
  font-size: 40px;
  margin-top: 30px;
  margin-left: -10px;
}
.icon-show-accepted{
  // margin-left:
  color: #34b77d;
  font-size: 40px;
  margin-top: 30px;
  margin-left: -10px;
}
.message{
  position: relative;
  margin-left: -50%;
}
.submit-input-div{
  text-align: center;
  height: 100px;
  vertical-align: middle;
  // transform: translate(-50%);
  h4, h3{
    margin-top: 35px;
    color: #777;
    text-align: center;
  }
  h3{
  // text-align: center;
  }
  .number{
    text-align: right;
  }
}

.submitPage{
    margin-left: -60px
}
.match-result-input{
  width: 80px;
  height: 80px;
  font-size: 45px;
  outline: none;
  border: 2px solid #bbb;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  color: #777;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.submit-btn{
  transition: all 0.5s;
  background-color: #777;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  p{
    font-size: 20px;
    padding-top: 5px;
    height: 80%;
  }
}
.submit-btn:hover{
  color: white;
}

.valid{
  background-color: #BF6969!important;
}
.challengers{
  text-align: center;
  color: #777;

}
.right-player{
  margin-top: 15px;
  color: #777;
  text-align: center!important;
  height: 100px;
}
.players{
  height: 60px;
}
.show-info-header{
  transition: all 0.2s;
  cursor: pointer;
  height: 50px;
  text-align: center;
  background-color: #ccc;
  color: white;
  h4{
    margin-top: 17px;
  }
}
.selected{
  background-color: #BF6969;
  cursor: pointer;
}
.data-group{
  // background-color: #fafafa;
  // padding: 10px;
  text-align: center;
  width: 60%;
  margin-right: 30px;
}
.matches{
  text-align: center;
  // display: table;
  height: 120px;
  color: #777;
  // border: 1px solid blue;
  h4, h5{
    .old-rank{
      color: #bbb
    }
    position: relative;
    color: #777;
    margin-top: 30px;
  }
  h2{
    // margin-top: 0px;
  }
  p{
    font-size: 10px;
  }
}
.matches-img-icon{
  margin-left: 5px;
  margin-top: 27px;
}
.matches-icon{
  margin-left: -8px;
  margin-top: 29px;
}
.showImg{
  margin-left: 20px;
}
.newForm{
  margin-top: 50px;
  color: #777;
  font-size: 30px;
  .row{
    height: 100px;
    padding: 30px;
  }

  input{

    background-color: white;
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px solid #777;
      transition: all 0.3s;
  }

  .subBtn{

    text-align: center;
    .btn{
      width: 40%;
      background-color: #bbb;
      color: white;
      border: none;
      font-size: 20px;
    }
    .valid{
      background-color: #BF6969;
    }
  }
  h3{
    text-align: right;
  }
}
.challenges{
  color: #34b77d;
}

.no-challenges{
  height: 600px;
  text-align: center;
  h4{
    color: #777;
    font-size: 40px;
    // margin-top: 30%;
    padding-top: 25%;
  }
}
.challenge-show{

}
.player-info{
  color: #777;
  text-align: center;
  margin-top: 50px;
}
.contact-email{
  margin-top: 22px;
}
.submit-results-btn{
  background-color: #BF6969;
  color: white;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.submit-results-btn:hover{
  color: white;
}
.user-drop-down{
  width: 40px!important;
  text-align: center;
  color: #777;
  h5{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border-bottom: 1px solid #777;
  }

}
.list{
  padding: 30px!important;
  h4{
    margin-top: 20px;
  }
}
.list-row{
  width: 80%;
  margin-left: 10%;
  border-bottom: 2px solid #777;
  text-align: center;

    color: #777;
}
// .container{
//   margin-bottom: 40px;
// }
.contact-email{
  a{
    line-height: 30px;
    color: #666;
    border: none;
    text-decoration: none;
    border-bottom: 1px solid #333;
  }

}
.no-matches-yet{
  margin-top: 150px;
  color: #777;
}
.leave-btn{

  color: #BF6969;
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
  border: 2px solid #BF6969;
  transition: all 0.3s;
}
.leave-btn:hover{
  color: white;
  background-color: #BF6969;
}
.edit-btn{

  color: #34b77d;
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
  border: 2px solid #34b77d;
  transition: all 0.3s;
}

.edit-btn:hover{
  color: white;
  background-color: #34b77d;
}
.matchesError{
  height: 300px;
  color: #777;
  h4{
    font-size: 30px;
  }
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
.profilePhoto{
  i{
    font-size: 300px;
    color: #777;
  }
}
.changePhoto{
  p{
    cursor: pointer;
    font-size: 16px;
    color: #777;
    width: 300px;
    text-align: center;
    margin-top: 30px;
  }
  .cancel{
    display: inline-block;
    margin-left: 430px!important;
    border: 2px solid #BF6969!important;
    color: #BF6969!important;
    position: relative;
    // margin-top: -300px;
  }
  .cancel:hover{
    color: white!important;
    background-color: #BF6969!important;
  }
  input{
    outline: none;
    border: none;
    border-bottom: 2px solid #777;
    background-color: white;
    width: 300px;
    margin-top: 30px;
    margin-bottom:0;
    // position: absolute;
    font-size: 20px;
  }
  .leave-btn{
    display: inline-block;
    border: 2px solid #34b77d;
    color: #34b77d;
    margin-left: 320px;
    position: relative;
    bottom: -30px;
    margin-top: -58px;
  }
  .leave-btn:hover{
    color: white;
    background-color: #34b77d;
  }
}
